<a href="https://colab.research.google.com/github/farooquejh/TEST/blob/main/Untitled28.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
n=int(input("enter the total no"))
a=[]
for i in range(0,n):
  b=int(input("enter the number are"))
  a.append(b)
avg=sum(a)/n
print("the avg number is :",avg)

enter the total no3
enter the number are12
enter the number are3
enter the number are5
the avg number is : 6.666666666666667

In [ ]:
a=int(input("enter the first number:"))
b=int(input("enter the second number:"))
a=a+b
b=a-b
a=a-b
print("the value of a:",a," the value of b",b)

enter the first number:12
enter the second number:32
the value of a: 32  the value of b 12

In [ ]:
n=int(input("enter the number:"))
rev=0
while(n>0):
  dig=n%10
  rev=rev*10+dig
  n=n//10
print("the reversed no is",rev)

enter the number:12
the reversed no is 21

In [ ]:
n=int(input("enter the number:"))
if(n>0):
  print("the no is even")
else:
  print("the odd number")

enter the number:12
the no is even

In [ ]:
###sub1=int(input("enter the number:"))
sub2=int(input("enter the number:"))
sub3=int(input("enter the third number"))
avg=(sub1+sub2+sub3)/3if(avg>=90):
  print("topper")
elif(avg>=60&avg<90):
  print("good")
else:
  print("satisfied")###

enter the number:qww

ValueError: ignored

In [ ]:
print("hrlo")

hrlo

In [ ]:
"jji"

'jji'

In [ ]:
lower=int(input("enter the number:"))
upper=int(input("enter the number:"))
n=int(input("enter the number:"))
for i in range(lower,upper+1):
  if(i%n==0):
    print(i)

enter the number:12
enter the number:45
enter the number:6
12
18
24
30
36
42

In [ ]:
a=int(input("enter the number:"))
b=int(input("enter the second number:"))
quoitient=a//b
remaider=a%b
print("the qotient is :",quoitient)
print("the remaider is:",remaider)

enter the number:18
enter the second number:3
the qotient is : 6
the remaider is: 0

In [ ]:
a=int(input("enter the first number:"))
b=int(input("enter the second number:"))
c=int(input("enter the third number:"))
d=[]
d.append(a)
d.append(b)
d.append(c)
for i in range(0,3):
  for j in range(0,3):
    for k in range(0,3):
      if(i!=j&j!=k&k!=i):
        print(d[i],d[j],d[k])

enter the first number:12
enter the second number:13
enter the third number:14
12 13 14
12 14 13
13 12 14
13 14 12
14 12 13
14 13 12

In [ ]:
 
lower=int(input("Enter the lower limit for the range:"))
upper=int(input("Enter the upper limit for the range:"))
for i in range(lower,upper+1):
    if(i%2!=0):
        print(i)

Enter the lower limit for the range:12
Enter the upper limit for the range:18
13
15
17

In [ ]:
for i in range(1,18):
  if(i%2!=0):
    print(i)

1
3
5
7
9
11
13
15
17

In [ ]:
n=int(input("enter thr number:"))
total=0
while(n>0):
  dig=n%10
  total=total*10+dig
  n=n//10
print("the sum of digit",total)

enter thr number:123
the sum of digit 321

In [ ]:
n=int(input("enter the number:"))
a=[]
for i in range(2,n+1):
  if(n%i==0):
    a.append(i)
a.sort()
print("the smallest number is :",a[0])

enter the number:35
the smallest number is : 5

In [ ]:
n=int(input("enter the number:"))
count=0
while(n>0):
  count=count+1
  n=n//10
print("the numbber id :",count)

enter the number:1556
the numbber id : 4

In [ ]:
n=int(input("enter the number:"))
temp=n
rev=0
while(n>0):
  dig=n%10
  rev=rev*10+dig
  n=n//10
if(temp==rev):

  print("the number is palindrome")
else:
  print("the number is not palindrome")

enter the number:121
the number is palindrome

In [ ]:
for i in range(0,51):
  if(i%2!=0)&(i%3!=0):
    print(i)

1
5
7
11
13
17
19
23
25
29
31
35
37
41
43
47
49

In [ ]:
n=int(input("enter the number:"))
a=[]
for i in range(1,n+1):
  print(i,sep=" ",end=" ")
  if(i<n):
    print("+",sep=" ",end=" ")
  a.append(i)  
print("=",sum(a))

print()

enter the number:5
1 + 2 + 3 + 4 + 5 = 15

In [ ]:
n=int(input("enter thr number:"))
for j in range(1,n+1):
  a=[]
  for i in range(1,j+1):
    print(i,sep=" ",end=" ")
    if(i<j):
      print("+",sep=" ",end=" ")
    a.append(i)
print("=",sum(a))

enter thr number:13
1 1 + 2 1 + 2 + 3 1 + 2 + 3 + 4 1 + 2 + 3 + 4 + 5 1 + 2 + 3 + 4 + 5 + 6 1 + 2 + 3 + 4 + 5 + 6 + 7 1 + 2 + 3 + 4 + 5 + 6 + 7 + 8 1 + 2 + 3 + 4 + 5 + 6 + 7 + 8 + 9 1 + 2 + 3 + 4 + 5 + 6 + 7 + 8 + 9 + 10 1 + 2 + 3 + 4 + 5 + 6 + 7 + 8 + 9 + 10 + 11 1 + 2 + 3 + 4 + 5 + 6 + 7 + 8 + 9 + 10 + 11 + 12 1 + 2 + 3 + 4 + 5 + 6 + 7 + 8 + 9 + 10 + 11 + 12 + 13 = 91

In [ ]:
for i in range(1,5):
  for j in range(1,4):
    
      print(i*j)

1
2
3
2
4
6
3
6
9
4
8
12

In [ ]:
for i in range(1,11):
  for j in range(1,11):
    print(i*j,end="\t ")
  print()

1	 2	 3	 4	 5	 6	 7	 8	 9	 10
2	 4	 6	 8	 10	 12	 14	 16	 18	 20
3	 6	 9	 12	 15	 18	 21	 24	 27	 30
4	 8	 12	 16	 20	 24	 28	 32	 36	 40
5	 10	 15	 20	 25	 30	 35	 40	 45	 50
6	 12	 18	 24	 30	 36	 42	 48	 54	 60
7	 14	 21	 28	 35	 42	 49	 56	 63	 70
8	 16	 24	 32	 40	 48	 56	 64	 72	 80
9	 18	 27	 36	 45	 54	 63	 72	 81	 90
10	 20	 30	 40	 50	 60	 70	 80	 90	 100

In [ ]:
for a in range(2,7):
  for b in range(1,a):

    print(a,b,end="\t ")
  print()

2 1
3 1	 3 2
4 1	 4 2	 4 3
5 1	 5 2	 5 3	 5 4
6 1	 6 2	 6 3	 6 4	 6 5

In [ ]:
n=int(input("Enter a number: "))
for j in range(1,n+1):
    a=[]
    for i in range(1,j+1):
        print(i,sep=" ",end=" ")
        if(i<j):
            print("+",sep=" ",end=" ")
        a.append(i)
    print("=",sum(a))
 
print()

Enter a number: 5
1 = 1
1 + 2 = 3
1 + 2 + 3 = 6
1 + 2 + 3 + 4 = 10
1 + 2 + 3 + 4 + 5 = 15

In [ ]:
n=int(input("enter the number:"))
for i in range(1,n):
  for j in  range(1,n):
    if(i==j):
      print(1,sep=" ",end=" ")
    else:
      print("0",sep=" ",end=" ")
  print()

enter the number:5
1 0 0 0
0 1 0 0
0 0 1 0
0 0 0 1

In [ ]:
n=int(input("enter the number:"))
for i in range(n,0,-1):
  print((n-i)*" "+ i* "*")

enter the number:4
****
 ***
  **
   *